@font-face {
    font-family: 'ConsolaMonoBold';
    src: url('/fonts/ConsolaMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'ConsolaMono';
    src: url('/fonts/ConsolaMono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MUSICNET';
    src: url('/fonts/MUSICNET.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}