$text : rgba(234, 128, 255, 0.8);
$text-orange : rgba(255, 175, 128, 0.8);
$text-dark : rgb(189, 79, 210);
$text-shadow : rgb(255, 51, 238);
$text-shadow-light : rgba(255, 255, 255, 0.8);
$text-shadow-dark : rgba(221, 51, 255, 0.4);
$overlay-dark : rgba(128, 32, 112, 0.2);
$overlay-color : rgba(128, 32, 123, 0.8);
$overlay-light : rgba(117, 32, 128, 0.2);
$black: #000000;
$white: #ffffff;

$size__site_content_width: 1078px;

@mixin mobile() {
	@media (max-width: ($size__site_content_width)) {
		@content;
	}
}

@mixin desktop() {
	@media (min-width: ($size__site_content_width)) {
		@content;
	}
}

* {
	padding: 0;
	margin: 0;
}


html {
	min-height: 100%;
}

body {
	box-sizing: border-box;
	height: 100%;
	background-color: #000000;
	background-image: radial-gradient(#4a1158, #041607), url("imgs/giphy.webp");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'ConsolaMonoBook', Helvetica, sans-serif;
	color: $text;
	text-shadow:
		0 0 2px $text-shadow,
		0 0 2px $text-shadow-light;
}

span::selection {
	background: $text-shadow-dark;
	color: $text-shadow-light ;
}

h1 {
	font-size: 3rem;
	@include mobile () {
		font-size: 2.5rem;
	}
	margin-bottom: 2rem;
	font-weight: bold;

	&.name {
		margin-bottom: 0;
		font-size: 4.5rem;
		@include mobile () {
			font-size: 3.8rem;
		}
		background: linear-gradient($text-orange, $text-shadow-dark);
		background-clip: border-box;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		color: $text-shadow-dark;
		text-shadow: none;
		font-family: 'MUSICNET';
		font-weight: normal;
	}

	&::selection {
		@extend span, ::selection
	}

}



p {

	margin-bottom: 2rem;
	line-height: 1.3;

	&::selection {
		@extend span, ::selection
	}

	&.pay {
		text-shadow: none;
		color: $text-dark;
	}

}


.noise {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url("imgs/giphy.webp");
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
	opacity: .02;
}

.overlay {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background:
		repeating-linear-gradient(180deg,
			rgba(0, 0, 0, 0) 0,
			rgba(0, 0, 0, 0.3) 50%,
			rgba(0, 0, 0, 0) 100%);
	background-size: auto 4px;
	z-index: 1;
}

.overlay::before {
	content: "";
	pointer-events: none;
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(0deg,
			transparent 0%,
			$overlay-dark 2%,
			$overlay-color 3%,
			$overlay-light 3%,
			transparent 100%);
	background-repeat: no-repeat;
	animation: scan 7.5s linear 0s infinite;
}

@keyframes scan {
	0% {
		background-position: 0 -100vh;
	}

	35%,
	100% {
		background-position: 0 100vh;
	}
}

.terminal {
	box-sizing: inherit;
	position: absolute;
	height: 50%;
	width: 70%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -90%);
	padding: 4rem;

	@include mobile () {
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		transform: translate(0);
		padding: 3em;
	}

	text-transform: uppercase;
}

.output {
	color: $text;
	font-size: 1.5rem;

	@include mobile () {
		font-size: 1.2rem;
	}

	text-shadow: 0 0 1px $text-shadow-dark,
	0 0 2px $text-shadow-light;
}

.output::before {
	content: "> ";
}

/*
.input {
  color: rgba(192, 255, 192, 0.8);
  text-shadow:
      0 0 1px rgba(51, 255, 51, 0.4),
      0 0 2px rgba(255, 255, 255, 0.8);
}

.input::before {
  content: "$ ";
}
*/

a {
	color: #fff;
	text-decoration: none;

	&::selection {
		@extend span, ::selection
	}
}

a::before {
	content: "[";
}

a::after {
	content: "]";
}

.errorcode {
	color: $text;
}

.popup {
	display: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	z-index: 10;

	.overlay-popup {
		width: 100vw;
		height: 100vh;
		background-color: $black;
		opacity: 0.8;
	}

	.content {
		position: absolute;
		border: 1px solid $text;

		&.txt {
			top: 8%;

			@include mobile () {
				top: 6%;
			}

			overflow-y: scroll;
			scrollbar-color:$text-shadow-dark $black;
			max-height: 85%;
			transform:translateX(-50%) scale(0);

			@include mobile () {
				width: 90%;
			}
		}

		left:50%;
		width:50%;
		background:transparent;
		height:auto;
		z-index:40;
		text-align:center;
		padding:0;
		box-sizing:border-box;
		transition:all 500ms ease-in-out;

		.article {
			background-color: $black;
			padding: 1rem;
			text-decoration: none;
			text-align: left;
			border-top: 1px solid $text;

			a {

				color: $text-shadow-light;
			}

			.data,
			.link {
				text-transform: uppercase;
				padding: 0 0 0 5px;
				color: $text-shadow-light;

				strong {
					padding-left: 5px;
				}
			}

			ul {
				list-style: none;
				padding-left: 1.1rem;
				text-transform: uppercase;
				font-size: 1rem;
				line-height: 1.2;

				@include mobile () {
					padding-left: 0.7rem;
				}

				li {
					padding: 0 0 0.5rem 0;
					font-weight: 400;
					color: $text;

					&::before {
						content: ">";
						color: $text;
						display: inline-block;
						width: 0.8rem;
						margin-left: -1rem;
					}

					&::selection {
						@extend span, ::selection
					}
				}
			}
		}
	}

	.close-div {
		text-align: right;

		.close-btn {
			display: inline-block;
			width: 30px;
			height: 30px;
			background: $black;
			color: $text-shadow;
			font-size: 1rem;
			line-height: 29px;
			text-align: center;
			border-top-right-radius: 5px;
			cursor: pointer;
		}

		&.txt {
			display: flex;
			justify-content: space-between;
			align-items: baseline;
			background-color: #000000;
			padding: 0.2rem;
			border: 1px solid $text-shadow-light;
			margin: 1px;

			h1 {
				color: $text;
				line-height: 1.5rem;
				font-size: 1.5rem;
				margin-bottom: 0;
			}

			p {
				margin: 0;
				padding: 0 0 0 5px;
			}
		}
	}

	&.active {
		display: block;

		.content {
			&.txt {
				transform: translateX(-50%) scale(1);
			}

		}
	}
}