* {
  padding: 0;
  margin: 0;
}

html {
  min-height: 100%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  background-color: #000000;
  background-image: radial-gradient(#4a1158, #041607), url("imgs/giphy.webp");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'ConsolaMonoBook', Helvetica, sans-serif;
  color: rgba(234, 128, 255, 0.8);
  text-shadow: 0 0 2px #ff33ee, 0 0 2px rgba(255, 255, 255, 0.8);
}

span::-moz-selection, h1::-moz-selection, p::-moz-selection, a::-moz-selection, .popup .content .article ul li::-moz-selection {
  background: rgba(221, 51, 255, 0.4);
  color: rgba(255, 255, 255, 0.8);
}

span::selection, h1::selection, p::selection, a::selection, .popup .content .article ul li::selection {
  background: rgba(221, 51, 255, 0.4);
  color: rgba(255, 255, 255, 0.8);
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

@media (max-width: 1078px) {
  h1 {
    font-size: 2.5rem;
  }
}

h1.name {
  margin-bottom: 0;
  font-size: 4.5rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 175, 128, 0.8)), to(rgba(221, 51, 255, 0.4)));
  background: linear-gradient(rgba(255, 175, 128, 0.8), rgba(221, 51, 255, 0.4));
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: rgba(221, 51, 255, 0.4);
  text-shadow: none;
  font-family: 'MUSICNET';
  font-weight: normal;
}

@media (max-width: 1078px) {
  h1.name {
    font-size: 3.8rem;
  }
}

p {
  margin-bottom: 2rem;
  line-height: 1.3;
}

p.pay {
  text-shadow: none;
  color: #bd4fd2;
}

.noise {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("imgs/giphy.webp");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: .02;
}

.overlay {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(180deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0) 100%);
  background-size: auto 4px;
  z-index: 1;
}

.overlay::before {
  content: "";
  pointer-events: none;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(2%, rgba(128, 32, 112, 0.2)), color-stop(3%, rgba(128, 32, 123, 0.8)), color-stop(3%, rgba(117, 32, 128, 0.2)), to(transparent));
  background-image: linear-gradient(0deg, transparent 0%, rgba(128, 32, 112, 0.2) 2%, rgba(128, 32, 123, 0.8) 3%, rgba(117, 32, 128, 0.2) 3%, transparent 100%);
  background-repeat: no-repeat;
  -webkit-animation: scan 7.5s linear 0s infinite;
          animation: scan 7.5s linear 0s infinite;
}

@-webkit-keyframes scan {
  0% {
    background-position: 0 -100vh;
  }
  35%,
  100% {
    background-position: 0 100vh;
  }
}

@keyframes scan {
  0% {
    background-position: 0 -100vh;
  }
  35%,
  100% {
    background-position: 0 100vh;
  }
}

.terminal {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  position: absolute;
  height: 50%;
  width: 70%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -90%);
          transform: translate(-50%, -90%);
  padding: 4rem;
  text-transform: uppercase;
}

@media (max-width: 1078px) {
  .terminal {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-transform: translate(0);
            transform: translate(0);
    padding: 3em;
  }
}

.output {
  color: rgba(234, 128, 255, 0.8);
  font-size: 1.5rem;
  text-shadow: 0 0 1px rgba(221, 51, 255, 0.4), 0 0 2px rgba(255, 255, 255, 0.8);
}

@media (max-width: 1078px) {
  .output {
    font-size: 1.2rem;
  }
}

.output::before {
  content: "> ";
}

/*
.input {
  color: rgba(192, 255, 192, 0.8);
  text-shadow:
      0 0 1px rgba(51, 255, 51, 0.4),
      0 0 2px rgba(255, 255, 255, 0.8);
}

.input::before {
  content: "$ ";
}
*/
a {
  color: #fff;
  text-decoration: none;
}

a::before {
  content: "[";
}

a::after {
  content: "]";
}

.errorcode {
  color: rgba(234, 128, 255, 0.8);
}

.popup {
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 10;
}

.popup .overlay-popup {
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  opacity: 0.8;
}

.popup .content {
  position: absolute;
  border: 1px solid rgba(234, 128, 255, 0.8);
  left: 50%;
  width: 50%;
  background: transparent;
  height: auto;
  z-index: 40;
  text-align: center;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.popup .content.txt {
  top: 8%;
  overflow-y: scroll;
  scrollbar-color: rgba(221, 51, 255, 0.4) #000000;
  max-height: 85%;
  -webkit-transform: translateX(-50%) scale(0);
          transform: translateX(-50%) scale(0);
}

@media (max-width: 1078px) {
  .popup .content.txt {
    top: 6%;
  }
}

@media (max-width: 1078px) {
  .popup .content.txt {
    width: 90%;
  }
}

.popup .content .article {
  background-color: #000000;
  padding: 1rem;
  text-decoration: none;
  text-align: left;
  border-top: 1px solid rgba(234, 128, 255, 0.8);
}

.popup .content .article a {
  color: rgba(255, 255, 255, 0.8);
}

.popup .content .article .data,
.popup .content .article .link {
  text-transform: uppercase;
  padding: 0 0 0 5px;
  color: rgba(255, 255, 255, 0.8);
}

.popup .content .article .data strong,
.popup .content .article .link strong {
  padding-left: 5px;
}

.popup .content .article ul {
  list-style: none;
  padding-left: 1.1rem;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.2;
}

@media (max-width: 1078px) {
  .popup .content .article ul {
    padding-left: 0.7rem;
  }
}

.popup .content .article ul li {
  padding: 0 0 0.5rem 0;
  font-weight: 400;
  color: rgba(234, 128, 255, 0.8);
}

.popup .content .article ul li::before {
  content: ">";
  color: rgba(234, 128, 255, 0.8);
  display: inline-block;
  width: 0.8rem;
  margin-left: -1rem;
}

.popup .close-div {
  text-align: right;
}

.popup .close-div .close-btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #000000;
  color: #ff33ee;
  font-size: 1rem;
  line-height: 29px;
  text-align: center;
  border-top-right-radius: 5px;
  cursor: pointer;
}

.popup .close-div.txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background-color: #000000;
  padding: 0.2rem;
  border: 1px solid rgba(255, 255, 255, 0.8);
  margin: 1px;
}

.popup .close-div.txt h1 {
  color: rgba(234, 128, 255, 0.8);
  line-height: 1.5rem;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.popup .close-div.txt p {
  margin: 0;
  padding: 0 0 0 5px;
}

.popup.active {
  display: block;
}

.popup.active .content.txt {
  -webkit-transform: translateX(-50%) scale(1);
          transform: translateX(-50%) scale(1);
}
/*# sourceMappingURL=style.css.map */